#field {
    margin: 0 auto;
}

#field td{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-size: 50px;
    color: rgb(182, 21, 75);
}

button {
    background-color: pink;
    font-size: 20px;
    color: rgb(182, 21, 75);
    border: 2px solid rgb(182, 21, 75);
    border-radius: 5%;
    width: 200px;
    height: 50px;
}